<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading preview">
        <div class="col-md-8">
        <%= image_tag @product.photo %>
        </div>

        <div class="col-md-4">
          <%= form_for [@product, @product.orders.new] do |f| %>
            <div class="form-group">
              <h2><b><%= @product.name %></b></h2>
            </div>
            <div class="form-group">
              <p><b>Category : </b><%= @product.category.name %></p>
            </div>
            <div class="form-group">
              <p><b>Description : </b><%= @product.description %></p>
            </div>
            <div class="form-group">
              <p><b>Price :</b> <%= @product.price %>$</p>
            </div>
            <div class="actions">
              <%= f.submit "Add To Cart", class: "btn btn-primary"%>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
